@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to <em>My Frankenstein</em>: A Simple Monster Database</h2>
<p>
    This is my first pet project in the C#/.NET MVC realm. I would like to acknowledge 
    <a href="http://slideshare.net/LearnItFirst/how-to-become-a-good-c-programmer" target="_blank">
    Scott Whigham</a> for some initial pointers in an overwhelming subject.  I am slowly, but surely, 
    digging my way out of the 'Trough of Disillusionment'.
</p>
<p>
    I call this project 'My Frankenstein' because it is first and foremost, a simple <strong>Monster Repository</strong> to display my basic 
    understanding of the MVC coding style with CRUD operations and an MS SQL database.  Nothing too fancy yet.
    The hardest part was the image storing/viewing.
</p>
<p>
    The second reason this site bears the name Frankenstein is for the manner in which I have collected and stitched together
    the ideas, code snippets, templates, and libraries of others into this fairly crude and clunky application, 
    much like the movie monster of old.
</p>
<p>
    In any case, take a look around; feel free to login and create a monster record if you like. <br />
    Check out the @Html.ActionLink("About", "About") page for development specifics or contact info.
</p>
